.env
.venv
target/
logs/
.user.yml
dbt_packages/
__pycache__/
*.egg-info/
# data/ # this is not sensitive data and good to have backups somewhere!
# *.duckdb
*.duckdb.backup.*
*.pyc
.pytest_cache/
*.log